body, html {
	height: 100%;
	margin: 0;
	background-color: #e9ecef70;
	padding: 0;
	color: #2d3136;
}
        /*---------------------------------*/
        
a {
    color: rgb(84, 88, 92);
    text-decoration: none;
   
}

a:hover {
    color: #212529;
    text-decoration: none;
}


/*Navbar*/
.navbar {
    border: 20px red;
}

/*Navbar background color;*/
.bg-dark {
    background-color: #59c058f7!important;
    padding: 0 20% 0 20%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e9ecefde;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 1.5em;
}
        /*---------------------------------*/
/*Background img for home page*/
.backImg {
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
}

    /*---------------------------------*/
    
/*index*/
.container {
    margin-bottom: 50px;
    margin-top: 50px;
}

.container-fluid {
    padding: 0;
}

#homeJumbotron {
    float: right;
     margin-top: 4rem;
     width: inherit;
}

.jumbotron {
    padding: 2rem 1rem;
    /*margin-top: 4rem;*/
    background-color: #dee2e6;
    border-radius: 1.5rem;
    opacity: .8;
}

.jumbTitle {
    font-size: 50px;
    font-family: 'Literata', serif;
}

      /*---------------------------------*/

    /*Browse recipes*/
#menus {
    text-align: center;
    margin: 10px;
}  

.btn-info:hover {
    color: #fff;
    background-color: #d88b64c9;
    border-color: #f8f9fa;
}

.form-wrapper {
	display:inline-flex;
}

    /*recipe cards*/
.pictures {
    display: inline-block;
    width: 100%;
    height: 290px;
}

        /*---------------------------------*/
    /*Card for all recipes*/
.card {
    height: 98%;
}

.recipe-header {
    margin: 80px 0px 40px;
    text-align: center;
}

.pictures {
    width: 100%;
    height: 290px;
}
    /*---------------------------------*/

    /*Each recipe card*/
.heading {
    margin: 150px;
}
        
.each-recipe-pict {
    width: 100%;
    height: auto
}

.rec-info {
   
    font-weight: 600;
    margin: 10px;
}

.rec-info-desc {
   font-family: 'Mountains of Christmas', cursive;
}
        
.prep-steps ul li {
    list-style-type: circle;
}

 

 /*Counter button*/

.btn-counter:after {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0 8px;
  color: #777;
  content: attr(data-count);
  
 }


     /*---------------------------------*/

/*insert recipe form*/
.insert_recipe-form {

    padding-bottom: 10%;
}

.submitFormButton {
	margin-top: 15px;
}

#editDelRecepButtons {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #5ec25d;
     border-color: #e9ecef;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d88b64c9;
    border-color: #f8f9fa;
}

.addRemove {
    display: inline;
}

.form-group li {
    list-style: none;
    text-align: left;
    margin-top: 18px;
    margin-left: 50%;
}

#ingredientList {
    margin: 5px;
}

#stepList {
    margin: 5px;
}

#stepList button {
    margin: 8px;
}

#ingredientList button {
    margin: 8px;
}



   /*footer*/
        
#footer {
    background-color: #212529;
    
}
