{% extends 'base.html' %}
{% block content %}

   <div class="container-fluid">
      <div class="jumbotron text-center">
         <h1>Welcome to Cookbook</h1>
         <p>Your very own personal recipe organiser!
         <p><strong>Sign Up</strong> now to add your recipes</p>
      </div>
      <div>
         <img src="/static/assets/pictures/background.jpg"></img>
      </div>
      
      
   </div>
   
         
   <!--{% for recipe in recipes %}-->
      <!--{{ recipe.steps }}-->
      <!--{{ recipe.timers }}-->
      <!--{{ recipe.originalURL }}-->
      <!--{{ recipe.ingredients }}-->
      <!--{{ recipe.name }}-->
      <!--{{ recipe.imageURL }}-->
   <!--{% endfor %}-->

{% endblock %}