{% extends 'base.html' %} {% block content %}

<div class="container-fluid ">
   <img class="backImg" src="/static/assets/pictures/background.jpg" alt="Background image">
</div>
<div class="container">
   <div id="homeJumbotron">
      <div class="jumbotron text-center">
         <div class="jumbTitle">
            <h1><strong>Welcome to Cookbook</strong></h1>
            <p>Your very own personal recipe organiser!
               <p><strong><a class="signUp" href="{{url_for('register')}}">Sign Up</a></strong> now to add your recipes</p>
         </div>
      </div>
   </div>
</div>


{% endblock %}
