{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>{{ page_title }}</h1>
        <p>From quick and easy midweek dinners to cuisines from across the globe, we’ve got dinnertime solved!</p>
    </div>
    <!--Filtering the recipes form returning results to the same page-->
    <div id="menus">
        <form action="{{url_for('filter_recipes')}}" method="POST">
            <div class="btn btn-info browse-recipes"><strong>Browse Recipes:</strong></div>
            <div class="form-row align-items-center form-wrapper">
                <div class="col-auto my-1">
                    <select name="course" class="custom-select mr-sm-2 inlineFormCustomSelect">
                        <option selected>Course...</option>
                        <option value="Starter">Starter</option>
                        <option value="Salad">Salad</option>
                        <option value="Main">Main</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <select name="cuisine" class="custom-select mr-sm-2 inlineFormCustomSelect">
                        <option selected>Cuisine...</option>
                        <option value="Italian">Italian</option>
                        <option value="Greek">Greek</option>
                        <option value="Thai">Thai</option>
                        <option value="French">French</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Persian">Persian</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <select name="allergens" class="custom-select mr-sm-2 inlineFormCustomSelect">
                        <option selected>Allergens...</option>
                        <option value="Pepper">Pepper</option>
                        <option value="Egg">Egg</option>
                        <option value="Bacon">Bacon</option>
                        <option value="Nutmeg">Nutmeg</option>
                        <option value="Seafood">Seafood</option>
                        <option value="Turmeric">Turmeric</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <select name="author" class="custom-select mr-sm-2 inlineFormCustomSelect">
                        <option selected>Author...</option>
                        <option value="Sophia Anderson">Sophia Anderson</option>
                        <option value="Ronnie Frank">Ronnie Frank</option>
                        <option value="Frank Hill">Frank Hill</option>
                        <option value="Claire Brown">Claire Brown</option>
                        <option value="Sophia Barry">Sophia Barry</option>
                        <option value="John Brown">John Brown</option>
                        <option value="Gracie Anderson">Gracie Anderson</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <!--Show all recipes-->
    <div class="container">
        <div class="row">
            {% for rec in recipes %} 
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <a href="{{url_for('recipe', recipe_id = rec._id)}}">
                        <img class="card-img-top pictures" src="{{ rec.image }}" alt="Image for {{ rec.name }}"></a>
                    <div class="card-body text-center">
                        <h4>{{ rec.name }}</h4>
                        <p>{{ rec.description }}</p>
                    </div>
                    <div class="card-title text-center text-muted">
                        <span class="rec-info">By:</span><span class="rec-info-desc">{{ rec.author }}</span> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}